# Comments and Basic Data Types

In [1]:
#this is a comment

In [2]:
print("Hello") # This is a comment

Hello

In [3]:
"""
This is a multi-line comment.
"""
print("Hello!") #This is a comment

Hello!

In [4]:
# The following are integers
print(2)
print(10)

2
10

In [5]:
# The following are floats
print(10.987)
print(8.0)

10.987
8.0

In [6]:
# The following are booleans
print(True)
print(False)

True
False

In [7]:
# The following are strings
print("")
print('true')
print("There's a snake in my boots!")

true
There's a snake in my boots!

In [8]:
# Printing out my name
print("Paul")

Paul

In [9]:
type(7.12)

float

In [10]:
type(True)

bool

In [11]:
type(9)

int

In [12]:
type(butter)

NameError: name 'butter' is not defined

In [13]:
type("butter")

str

# Variables

In [14]:
num1 = 5   #Storing an integer
num2 = 7.34  #Storing a float
print(num1,num2)

5 7.34

In [15]:
# Storing a boolean into a variable
switch = True
print(switch)

True

In [16]:
# Storing strings into a variable
name = 'John Smith'
fav_number = '9'
print(name, fav_number) #will print 9 next to the name

John Smith 9

In [17]:
# Using two variables to create another variable
result = num1 + num2
print(result)

12.34

In [18]:
# Adding, deleting, multiplying, dividing from a variable
result += 1 # increment
print(result)
result *= num1 # result * num1
print(result)

13.34
66.7

In [19]:
# Defining a variable and overwriting its value
name = "John"
print(name)
name = "Sam"
print(name)

John
Sam

In [33]:
# Exercise 1
x = 3
y = 10
math_result = x * y
print(math_result)
print(x, "+", y, "=", (x + y))

30
3 + 10 = 13

In [25]:
# Exercise 2
width = 245.54
height = 13.66
area = width * height
print(area)

3354.0764

# Working with strings

In [34]:
# using the addition operator without variables
name = "John" + " " + "Smith"
print(name)

John Smith

In [35]:
# using the addition operator with variables
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

In [36]:
# injecting variables using the format method
name = "John"
print("Hello, {}".format(name))
print("Hello, {}. You are {} years old!".format(name, 28))

Hello, John
Hello, John. You are 28 years old!

In [37]:
# using new f strings
name = "John"
print( f"Hello {name}" )

Hello John

In [38]:
# one major difference between Python 2 and 3
name = "John"
print("Hello, %s" % name)

Hello, John

In [39]:
# Python 2 multiple variable formatting
first_name = "John"
last_name = "Smith"
print("Hello, %s %s" %(first_name, last_name)) # surround the variables in parenthesis

Hello, John Smith

In [40]:
# using indexes to print each element
word = "Hello"
print(word[0])
print(word[1])
print(word[-1])

H
e
o

In [41]:
print(word[0:2]) # will output "He"

He

In [42]:
print(word[0:5:2]) # will output "Hlo"

Hlo

In [44]:
# print statement that injects an integer, float, boolean, string
my_int = 23
my_float = 4.5
my_bool = True
my_string = "Paul"
print("{} {} {} {}".format(my_int,my_float,my_bool,my_string))

23 4.5 True Paul

In [45]:
# more printing statements that inject variables
my_name = "Paul"
my_sport = "Volleyball"
my_hobby = "Python"
print("{}'s favorite sport is {}.".format(my_name, my_sport))
print("{} is working on {} programming!".format(my_name, my_hobby))

Paul's favorite sport is Volleyball.
Paul is working on Python programming!

# Manipulating Strings

In [2]:
# using the title method to capitalize a string
name = "john smith"
print(name.title())
print(name.upper())
print(name.lower())

John Smith
JOHN SMITH
john smith

In [3]:
# replacing an exclamation point with a period
words = "Hello, there!"
print(words.replace("!","."))

Hello, there.

In [4]:
# finding the starting index of our searched term
s = "Look over that way"
print(s.find("over"))

5

In [8]:
# removing white space with strip
name = "     John     "
print(name.strip( ))

John

In [9]:
# converting a string into a list of words
s = "These words are separated by spaces"
print(s.split(" "))

['These', 'words', 'are', 'separated', 'by', 'spaces']

In [10]:
# strip dollar sign 
name = "$$John"
print(name.lstrip("$"))
print(name.strip("$"))

John
John

# Friday Project: Printing a Receipt

In [25]:
# create a product and price for three items
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89

# create a company name and information
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"

# declare ending message
message = "Thanks for shopping with us today!"

# create a top border
print("*" * 50)

# print company information first, using format
print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))

# print a line between sections
print("=" * 50)

# print out header for section of items
print("\tProduct Name\tProduct Price")

# create a print statement for each product
print("\t{}\t\t${}".format(p1_name.title(), p1_price))
print("\t{}\t${}".format(p2_name.title(), p2_price))
print("\t{}\t\t${}".format(p3_name.title(), p3_price))

# print a line between sections
print("=" * 50)

# print out header for section of total
print("\t\t\tTotal")

#calculate total price and print out
total = p1_price + p2_price + p3_price
print("\t\t\t${}".format(total))

#print a line between sections
print("=" * 50)

# output thank you message
print("\n\t{}\n".format(message))

# create a bottom border
print("*" * 50)

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

**************************************************